# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Airflow database
airflow.cfg
airflow.db
airflow.db-shm
airflow.db-wal

# Airflow authentication files
simple_auth_manager_passwords.json.generated

# Airflow logs
logs/

# OS files
.DS_Store
Thumbs.db

# Docker ignore
*.log
*.env

# Virtual environments
venv/
.env/
